.panel-heading a.fa {
    font-size: 21px;
    text-decoration: none;
    cursor: pointer;
}
.panel-heading a.fa:hover {
    color:#FFFFFF;
}

.panel-green > .panel-heading {
    background-color: #99ff99;
    border-color: transparent;
    color: #333333;
}

.post-it {
    background: #E9E74A;
    color: #333333;
    font-size: 14px;
    padding: 15px 20px;
    margin: 5px -10px;
    height: 120px;
    border-radius: 2px;
    cursor:pointer;
}
.post-it .right-arrow, .post-it .left-arrow {
    position:relative;
    top:74px;
    display:none;
    width:0px;
    opacity:0.3;
}
.post-it:hover .right-arrow, .post-it:hover .left-arrow {
    display:block;
}
.post-it .right-arrow {
    float:right;
    left: -9px;
}
.post-it .left-arrow {
    float:left;
    left: -17px;
}
.post-it .arrow {
    font-size:30px;
    color:inherit;
    text-decoration:none;
}

.post-it b {
    font-size: 120%;
    margin-right: 8px;
}

.post-it .info {
    color: inherit;
    position:relative;
    top:-10px;
    left: 10px;
    font-size:16px;
    text-decoration: none;
}

.red {
    color: #CC0000;
}
.green {
    color: #1fa67a;
}

.step .panel {
    min-height: 500px;
}
.step .panel .panel-body {
    overflow-y: auto;
    padding: 10px 25px;
}
.step .panel .panel-heading {
    color: #333333;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}