.panel-heading a.fa {
    font-size: 21px;
    text-decoration: none;
    cursor: pointer;
}
.panel-heading a.fa:hover {
    color:#FFFFFF;
}

.post-it {
    background: #E9E74A;
    color: #333333;
    font-size: 14px;
    padding: 15px 20px;
    margin: 5px -10px;
    height: 120px;
    border-radius: 2px;
    cursor:pointer;
}
.post-it b {
    font-size: 120%;
    margin-right: 8px;
}

.red {
    color: #CC0000;
}
.green {
    color: #1fa67a;
}

.step .panel {
    min-height: 500px;
}
.step .panel .panel-body {
    overflow-y: auto;
}
.step .panel .panel-heading {
    color: #333333;
}