<h1>Projet "{{project.title}}"</h1>

<div class="row">
    <div class="col-md-3 step">
        <div class="panel panel-warning">
            <div class="panel-heading">
                BACKLOG
                <a class="fa fa-plus-square pull-right green" data-toggle="modal" data-target="#myModal"></a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-repeat="story in project.stories | filter: {step: null} | orderBy:['priority','number']"
                         class="ng-cloak col-md-6">
                        <div class="post-it" ng-dblclick="move(story)" style="color:{{story.fgColor}};background-color:{{story.bgColor}};">
                            <b>#{{story.number}}</b>{{story.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="project_step in project.steps" class="col-md-3 step">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{project_step.title}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-repeat="story in project.stories | filter: {step: {id: project_step.id}} | orderBy:['priority','number']"
                         class="ng-cloak col-md-6">
                        <div class="post-it" ng-dblclick="move(story)" style="color:{{story.fgColor}};background-color:{{story.bgColor}};">
                            <b>#{{story.number}}</b>{{story.title}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<a href="/#/projects" class="btn btn-danger">Retour</a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nouvelle story</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input id="title" type="text" ng-model="title" class="form-control" placeholder="Titre"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                        <textarea id="description" ng-model="description" class="form-control"
                                  placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="priority">Priorité</label>
                    <select id="priority" ng-model="priority" class="form-control">
                        <option value="1">Haute</option>
                        <option value="2">Moyenne</option>
                        <option value="3">Faible</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="bgColor">Background</label>
                        <select id="bgColor" ng-model="bgColor" class="form-control">
                            <option value="#36A9CE">Bleu</option>
                            <option value="#AE86BC">Mauve</option>
                            <option value="#E9E74A">Jaune</option>
                            <option value="#ED839D">Rose</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="fgColor">Foreground</label>
                        <select id="fgColor" ng-model="fgColor" class="form-control">
                            <option value="#EFEFEF">Blanc</option>
                            <option value="#333333">Noir</option>
                            <option value="#148648">Vert</option>
                            <option value="#405362">Gris bleu</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" ng-click="createStory()" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>



